$font-primary: 'Bai Jamjuree', sans-serif;

$c-cyan: hsl(171, 66%, 44%);
$c-light-blue: hsl(233, 100%, 69%);
$c-dark-grayish-blue: hsl(210, 10%, 33%);
$c-grayish-blue: hsl(201, 11%, 66%);
$c-extra-grey: #f5f6f8;